
h1
{
	color: navy;
	font-size: xx-large;
	font-family: Georgia, Verdana, "Trebuchet MS", "Times New Roman", sans-serif;
	text-align: center;
}
h2
{
	color: green;
	font-size: x-large;
	font-family: Georgia, Verdana, "Trebuchet MS", "Times New Roman", sans-serif;
	text-align: center;
}
h3
{
	color: blue;
	font-size: large;
	font-family: Georgia, Verdana, "Trebuchet MS", "Times New Roman", sans-serif;
	text-align: center;
}
p
{
	color: black;
	font-size: medium;
	font-family: Georgia, Verdana, "Trebuchet MS", "Times New Roman", sans-serif;
	text-align: center;
}
body
{
	background: url("background-texture.jpg") fixed;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}